APP_ENV=development
HTTP_ADDR=:8080
FRONTEND_ORIGIN=http://localhost:3000
DATABASE_URL=postgres://mdm:mdm@localhost:5432/mdm_compro?sslmode=disable
JWT_SECRET=change-me-in-production
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=720h
PUBLIC_CACHE_SECONDS=300
CMS_API_BASE_URL=http://localhost:8080/api/v1/public
NEXT_PUBLIC_CMS_API_BASE_URL=http://localhost:8080/api/v1/public
NEXT_PUBLIC_SITE_URL=http://localhost:3000
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=mdm-media
S3_USE_SSL=false
